<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./../assets/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="text-center">
              <img src="./../assets/images/cybersoft.png" alt="Card image" />
            </div>

            <div class="card-body">
              <h4 class="card-title text-center">
                CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
                - Virtual Dressing Room
              </h4>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="tabs nav nav-pills">
            <li class="tab-item nav-item active">
              <a class="nav-link">Áo</a>
            </li>
            <li class="tab-item nav-item">
              <a class="nav-link">Quần</a>
            </li>
            <li class="tab-item nav-item">
              <a class="nav-link">Giày dép</a>
            </li>
            <li class="tab-item nav-item">
              <a class="nav-link">Túi xách</a>
            </li>
            <li class="tab-item nav-item">
              <a class="nav-link">Dây chuyền</a>
            </li>
            <li class="tab-item nav-item">
              <a class="nav-link">Kiểu tóc</a>
            </li>
            <li class="tab-item nav-item">
              <a class="nav-link">Nền</a>
            </li>
          </ul>

          <div class="tab-content well container">
            <div class="tab-pane topcloth-show active row">
              <div class="row">
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3">
                  <img src="../assets/images/clothes/topcloth1_show.jpg" />
                  <h4>Top Cloth 1</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3">
                  <img src="../assets/images/clothes/topcloth2_show.jpg" />
                  <h4>Top Cloth 2</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3">
                  <img src="../assets/images/clothes/topcloth3_show.jpg" />
                  <h4>Top Cloth 3</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3">
                  <img src="../assets/images/clothes/topcloth4_show.jpg" />
                  <h4>Top Cloth 4</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3">
                  <img src="../assets/images/clothes/topcloth5_show.jpg" />
                  <h4>Top Cloth 5</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3">
                  <img src="../assets/images/clothes/topcloth6_show.jpg" />
                  <h4>Top Cloth 6</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
              </div>
            </div>

            <div class="tab-pane botcloth-show row">
              <div class="row">
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/clothes/botcloth1_show.jpg" />
                  <h4>Bottom Cloth 1</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/clothes/botcloth2_show.jpg" />
                  <h4>Bottom Cloth 2</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/clothes/botcloth3_show.jpg" />
                  <h4>Bottom Cloth 3</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/clothes/botcloth4_show.jpg" />
                  <h4>Bottom Cloth 4</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/clothes/botcloth5_show.jpg" />
                  <h4>Bottom Cloth 5</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
              </div>
            </div>

            <div class="tab-pane shoes-show row">
              <div class="row">
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/shoes/shoes1_show.jpg" />
                  <h4>Shoes 1</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/shoes/shoes2_show.jpg" />
                  <h4>Shoes 2</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/shoes/shoes3_show.jpg" />
                  <h4>Shoes 3</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/shoes/shoes4_show.jpg" />
                  <h4>Shoes 4</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/shoes/shoes5_show.jpg" />
                  <h4>Shoes 5</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
              </div>
            </div>

            <div class="tab-pane handbag-show row">
              <div class="row">
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/handbags/handbag1_show.jpg" />
                  <h4>Handbag 1</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/handbags/handbag2_show.jpg" />
                  <h4>Handbag 2</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/handbags/handbag3_show.jpg" />
                  <h4>Handbag 3</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
              </div>
            </div>

            <div class="tab-pane necklace-show row">
              <div class="row">
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/necklaces/necklace1_show.jpg" />
                  <h4>Necklace 1</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/necklaces/necklace2_show.jpg" />
                  <h4>Necklace 2</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/necklaces/necklace3_show.jpg" />
                  <h4>Necklace 3</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
              </div>
            </div>

            <div class="tab-pane hairstyle-show row">
              <div class="row">
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/hairstyle/hairstyle1_show.jpg" />
                  <h4>Hairstyle 1</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/hairstyle/hairstyle2_show.jpg" />
                  <h4>Hairstyle 2</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/hairstyle/hairstyle3_show.jpg" />
                  <h4>Hairstyle 3</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
              </div>
            </div>

            <div class="tab-pane background-show row">
              <div class="row">
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/background/background1_show.jpg" />
                  <h4>Background 1</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/background/background2_show.jpg" />
                  <h4>Background 2</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/background/background3_show.jpg" />
                  <h4>Background 3</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/background/background4_show.jpg" />
                  <h4>Background 4</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/background/background5_show.jpg" />
                  <h4>Background 5</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/background/background6_show.jpg" />
                  <h4>Background 6</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
                <div class="cloth-item col-12 col-sm-6 col-lg-4 col-xl-3 col-3">
                  <img src="../assets/images/background/background7_show.jpg" />
                  <h4>Background 7</h4>
                  <button class="btn btn-secondary">Thử đồ</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contain">
            <div class="body"></div>
            <div class="model"></div>
            <div class="tryOn bikinitop topcloth"></div>
            <div class="tryOn bikinibottom botcloth"></div>
            <div class="tryOn feet shoes"></div>
            <div class="tryOn handbag"></div>
            <div class="tryOn necklace"></div>
            <div class="tryOn hairstyle"></div>
            <div class="tryOn background"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="./../models/ListChosen.js"></script>
    <script src="./../models/ChoseItem.js"></script>
    <script src="./../utils/callData.js"></script>
    <script src="./../controllers/main.js"></script>
  </body>
</html>
